<div class="center">
    <h1 class="tittle_formulary">Formulario</h1>
    <div class="formulario App">
        <form action="/api/productos" method="post" id="formProductos">
            <div class="formulario">
                <label for="title" class="subTittle_formulary">Nombre:</label>
                <input type="text" id="title" name="title" class="formulario_input">
            </div>
            <div class="formulario">
                <label for="price" class="subTittle_formulary">Precio:</label>
                <input type="text" id="price" name="price" class="formulario_input">
            </div>
            <div class="formulario">
                <label for="thumbnail" class="subTittle_formulary">Imagen:</label>
                <input type="text" id="thumbnail" name="thumbnail" class="formulario_input">
            </div>
            <div class="formulario">
                <label for="title" class="subTittle_formulary">descripcion:</label>
                <input type="text" id="title" name="title" class="formulario_input">
            </div>
            <div>
                <button type="submit" id="btnEnviar" class="button_detalle">Enviar</button>
            </div> 
        </form>
    </div>
</div>