{{> hbs/productosHbs}}
<div class="center"> 
    <a href="/api/productos" class="button_detalle">Ver pagina principal</a>
    <a href="/api/productos/formulario" class="button_detalle">Ver Formulario</a>
</div>