<div class="center">
    <h1 class="tittle_formulary">Login de Usuario</h1>
    <div class="formulario App">
        <form action="/login" method="post" autocomplete="off">
            <div class="formulario">
                <label for="username" class="subTittle_formulary">Ingrese su nombre</label>
                <input type="text" id="username" name="username" class="formulario_input">
            </div>
            <div class="formulario">
                <label for="password" class="subTittle_formulary">Ingrese su contraseña</label>
                <input type="password" id="password" name="password" class="formulario_input">
            </div>
            <div>
                <button type="submit" id="btnEnviar" class="button_detalle">Enviar</button>
            </div> 
        </form>
    </div>
</div>