body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(48, 39, 103);
    background: rgb(185, 185, 185);
    background-attachment: fixed;
    background-size: cover;
    
}



.App {
    text-align: center;
}

.button_detalle {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 235, 235);
    border:#2b1a5d 2px solid;
    background-color: #1c0c47;
    border-radius: 5px;
    padding: 6px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}



.formulario {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 20px;
}

.tittle_formulary {
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 4em;
    line-height: 1.2em;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0 auto;
}

.subTittle_formulary {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2em;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s;
}



.formulario_input {
    height: auto;
    border: none;
    color: rgb(57, 24, 85);
    border-radius: 5px;
    outline: none;
    transition: all 0.5s;
}


.center {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}

.div_img {
    margin: 0 auto;
    width: 45%;
    height: 30%;
}


.tabla {
    color:rgb(64, 38, 101);
    background: rgba(221, 215, 255, 0.521);
    align-items: center;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0);
    border-radius: 5px;
}

.rotulos {
    background: rgb(32, 21, 62);
    color: rgb(222, 215, 255);
}

.mensajeContenedor {
    display: flex;
    justify-content: center;
}

.tittleMensaje {
    color: blue;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 0px;
}

.mensajeTexto {
    display: flex;
}

.horaMensaje {
    color: brown;
    padding: 5px;
    margin-bottom: 0px;
}

.texto {
    font-style: italic;
    color: green;
    padding: 5px;
    margin-bottom: 0px;
}
