<div>
    <h1>Bienvenido {{nombre}}</h1>
    <form action="/logout" method="post">
    <div>
        <button type="submit" id="logout" class="button_detalle">deslogearse</button>
    </div> 
    </form>
</div>